.main-title {
    flex: 0 0 auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center; 
    font-family: "Fira Sans", sans-serif;
    font-size: 3vw; 
    color: white;
  }
  .sub-title {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center; 
    font-family: "Fira Sans", sans-serif; 
    font-size: 1vw; 
    color: #bbbbbb;
  }

.grid-main-page{
  display: flex;
}
.left-content{
  width: 50%;
}
.right-content{
  width: 50%;
}
.grid-container-element { 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
    grid-gap: 1px; 
    margin-left: 10%;
    margin-right: 10%;
} 
.grid-child-element { 
    margin: 3px;   
    background-color: #E2E2E2;
    border-radius: 8px;
}

.parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr /*1fr*/;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    row-gap: 0;
    margin: 5px;
    }
    

.div3 { grid-area: 2 / 2 / 3 / 3; }
/* .div4 { grid-area: 3 / 2 / 4 / 3; }*/

.route {
  font-family: "Fira Sans", sans-serif; 
  font-size: 24px; 
  font-weight: 700; 
  line-height: 40.8px;
}

.route.name {
  grid-area: 1 / 1 / 2 / 3;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #606060;
  font-size: 22px;
}

.route.number {
  grid-area: 2 / 1 / 3 /*4*/ / 2;
  text-align: right; 
  font-size: 50px; 
  color: #373737;
  
}

.route-info {
  font-family: "Fira Sans", sans-serif; 
  font-weight: 600; 
  line-height: 19.8px;
  font-size: 17px; 
  color: #6f6f6f;
}

#arrow_forward{
  font-size:25px; 
  vertical-align:-0.3cap; 
  color: #969696;
}

#speed_schedule{
  font-size:21px;
  vertical-align: bottom;
}

.grid-container-vehicle { 
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px; 
  margin-left: 10%;
  margin-right: 10%;
} 
.grid-child-vehicle { 
  margin: 0px; 
  background-color: #E2E2E2;
  border-radius: 8px;
  font-family: "Fira Sans", sans-serif; 
  font-weight: 600;
  font-size: 60px; 
  color: #373737;
  text-align: center;
}

#bus{
  font-size: 60px;
  vertical-align: -0.3cap;
}
#motorcycle{
  font-size:60px; 
  vertical-align:-0.3cap;
}
#car{
  font-size:55px; 
  vertical-align:-0.22cap;
}
#bikeScooter{
  font-size:55px; 
  vertical-align:-0.22cap; 
  color: #969696;
}
#pedal_bike{
  font-size:55px; 
  vertical-align:-0.22cap;
}
#truck{
  font-size:55px; 
  vertical-align:-0.22cap;
}
#car2{
  font-size:55px; 
  vertical-align:-0.22cap; 
  color: #969696;
}

#vehicleText1{
  font-size: 0.24em;
  color: black;
  position: absolute;
  margin-top: 16px;
  left: 6.6%;
}

#vehicleText2{
  font-size: 0.24em;
  color: black;
  position: absolute;
  margin-top: 16px;
  left: 6.3%;
}

.grid-child-vehicle.final{
  grid-area: 3 / 2 / 4 / 4;
  background-color: transparent;
  font-size: 45px; 
  color: #adacac; 
  font-weight: 300; 
  line-height: 1.5;
  padding-top: 1%;
}

.count-cars{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  margin-left: 10%;
  margin-right: 10%;
}

.count-cars-number{
  font-family: "Fira Sans", sans-serif; 
  font-weight: 600; 
  font-size: 14em; /* Adjust size as needed */
  grid-area: 1 / 2 / 3 / 3;
  color: #079af9;
}

.count-cars-info{
  align-items: center;
  font-family: "Fira Sans", sans-serif; 
  font-size: 79px; 
  font-weight: 600; 
  padding-top:34px;
  text-align: right;
  justify-content: flex-end;
  color: red;
}

.count-cars-name{
  margin-right: 10%;
  text-align: right;
  color: white;
  font-size: 2em;
  font-family: "Fira Sans", sans-serif;
}

.vehicle-stats{
  display: grid;
  grid-template-columns: 1.2fr 0.9fr 0.9fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  margin-left: 10%;
  margin-right: 10%;
}

.general-info{
  grid-area: 1 / 2 / 2 / 4;
  text-align: right;
  border-radius: 8px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-size: 1.4em; 
  color: white;
}

.stat-difference{
  margin: 0px; 
  background-color: #E2E2E2;
  border-radius: 8px;
  font-family: "Fira Sans", sans-serif; 
  font-weight: 600;
  font-size: 30px; 
  color: #373737;
  text-align: center;
}

.stat-sub-text{
  font-size: 18px; 
  margin-bottom: 3%;
}

.traffic-news-head{
  font-size: 1.9em;
  font-family: "Fira Sans", sans-serif;
  color: white;
  margin-left: 10%;
  font-weight: 600;
}

.traffic-news-body{
  display: grid;
  grid-template-columns: 0.3fr 1.7fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 7px;
  grid-row-gap: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

.message{
  font-size: 1.8em;
  border-radius: 6px;
  text-align: center;
  color: white;
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  padding-top:4px;
}

.message.incdt{
  background-color: red;
}

.message.alert{
  background-color: red;
}

.message.msp{
  background-color: #0370cb;
}

.message.ai{
  background-color: #cc03c1;
}

.message-source{
  font-family: "Fira Sans", sans-serif;
  font-size: 1em;
  color: #bbbbbb;
}

.message-text{
  font-family: "Fira Sans", sans-serif;
  font-size: 1.4em;
  color: white;
}

@media only screen and (max-width: 1280px) {

  .main-title{
    margin-bottom:0.3%;
    height:auto;
  }
  .sub-title{
    height: 0px;
    margin-bottom: 1%;
  }
  .grid-container-element{
    grid-gap: 0px;
    margin-bottom: 1%;
    margin-right: 5%;
  }
  .parent {
    margin: 0px;
    }
  .route.name{
    font-size: 15px;
  }
  .route.number{
    font-size: 45px;
  }

  .grid-child-vehicle{
    padding-top: 5px;
  }

  .grid-container-vehicle{
    grid-gap: 4px;
    margin-right: 5%;
  }
  .grid-child-vehicle{
    font-size: 38px;
  }
  .grid-child-vehicle.final{
    font-size: 30px;
    padding-top: 2%;
  }
  #vehicleText1{
    left: 6.9%;
    margin-top: 12px;
    font-size: 0.28em;
  }
  #vehicleText2{
    left: 7.1%;
    margin-top: 12px;
    font-size: 0.26em;
  }
  #bus {
    font-size: 47px;
  }
  #motorcycle{
    font-size:45px; 
    vertical-align:-0.3cap;
  }
  #car{
    font-size:45px; 
    vertical-align:-0.22cap;
  }
  #bikeScooter{
    font-size:45px; 
    vertical-align:-0.22cap; 
    color: #969696;
  }
  #pedal_bike{
    font-size:45px; 
    vertical-align:-0.22cap;
  }
  #truck{
    font-size:45px; 
    vertical-align:-0.22cap;
  }
  #car2{
    font-size:45px; 
    vertical-align:-0.22cap; 
    color: #969696;
  }
  .count-cars{
    margin-left: 5%;
  }
  .count-cars-number{
    font-size: 131px;
  }
  .count-cars-info{
    line-height: 1.1;
    font-size: 50px;
    padding-top: 11.5%;
  }
  .count-cars-name{
    font-size: 20px;
  }
  .vehicle-stats{
    margin-left: 5%;
  }
  .traffic-news-head{
    margin-left: 5%;
    font-size: 28px;
  }
  .general-info{
    font-size: 19px;
  }
  .stat-difference{
    font-size: 26px;
  }
  .stat-sub-text{
    font-size: 13px; 
    margin-bottom: 3%;
  }
  .traffic-news-body{
    margin-left: 5%;
  }
  .message{
    font-size:20px;
    padding-top:5px;
    font-weight: 800;
  }
  .message-source{
    font-size: 12px;
  }
  .message-text{
    font-size:15px;
  }

}
